$accent: #166590;
$main: white;
$navi-color: black; 

Form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 400px;
    border: 2px solid $accent;
    font-family: 'Lato', 'Raleway', sans-serif;

    .submit {
        float: right;
        margin: 2px;
    }

    .register {
        float: right;
        margin: 5px;
    }
}

